@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hmtl {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    box-shadow: 0px 1px 10px black;
    background-color: #fef0ef;
}

.logo {
    height: 100px;
    width: 100px;
}

.links {
    display: flex;
    gap: calc(50px);
    align-items: center;
    list-style-type: none;
}

.links li a {
    font-size: 20px;
    font-family: "Ultra", serif;
    color: #ff0a03;
    text-decoration: none;
}

.hamburguer-image {
  position: relative; 
}

.back {
  width: 100%;;
}

.front {
  position: absolute;
  opacity: 0.8;
  top: 150px;
  left: 0px;
  width: 100%;
}

.sobre {
  background-color: #FEF0EF;
  text-align: center;
  padding: 60px 20px;
}

.sobre h1 {
  color: #ff0a03;
  font-size: 60px;
  font-family: "Ultra", serif;
  margin-bottom: 30px;
}

.sobre p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 35px;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.burgers {
  background-color: #FFB100; 
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.burger-card {
  width: 350px;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: transform 0.4s cubic-bezier(.25,.8,.25,1),
              box-shadow 0.4s ease;
}

.burger-card:hover {
  transform: scale(1.1) translateY(-6px);
}

.burger-card img {
  width: 100%;
  display: block;
}

.burger-card h2 {
  position: absolute;
  font-family: "Ultra", serif;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.burger-card.destaque {
   transform: scale(1.08);
}

.burger-card.destaque:hover {
  transform: scale(1.18);
}
